body{
      font-family: 'Roboto', sans-serif;
      background :linear-gradient(45deg, #06c8ef 0% 10%, black 10% 12% , #1396b7 12% 13%,#eeff00 13% 14%,black 14% 16%,#1396b7 16% 18%,black 18% 22%,#1396b7 22% 26%,black 26% 27%,#1396b7 27% 29%,black 29% 31%,#1396b7 31% 65%,black 65% 65.5% ,#eeff00 66% 67% ,black 67% 68%,#eeff00 68% 70%,black 70% 71%,#eeff00 71% 85%,black 85% 86%, #eeff00 86% 100%);
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
      padding: 50px 40px;
      border-radius: 15px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      text-align: center;
      animation: fadeIn 1s ease-in-out;
      max-width: 400px;
      width: 100%;
    }

    .container h1 {
      font-size: 2em;
      margin-bottom: 30px;
      color: #fff;
      letter-spacing: 1px;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
.section {
    padding: 50px 30px;
    border: 1.5px solid #b2b2b2;
    border-radius: 0.25em;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

#my-qr-reader {
    padding: 20px !important;
    border: 1.5px solid #b2b2b2 !important;
    border-radius: 8px;
}

#my-qr-reader img[alt="Info icon"] {
    display: none;
}

#my-qr-reader img[alt="Camera based scan"] {
    width: 100px !important;
    height: 100px !important;
}

button {
    padding: 10px 20px;
    border: 1px solid #b2b2b2;
    outline: none;
    border-radius: 0.25em;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #008000ad;
    transition: 0.3s background-color;
}

button:hover {
    background-color: #008000;
}

#html5-qrcode-anchor-scan-type-change {
    text-decoration: none !important;
    color: black;
}

#html5-qrcode-button-camera-permission{
    background-color: inherit;
}

video {
    width: 100% !important;
    border: 1px solid #b2b2b2 !important;
    border-radius: 0.25em;
}

.alert {
  background-color: #ffdddd; /* Light red for alert background */
  border: 1px solid #ff0000; /* Red border */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  animation: hang 0.5s ease-in-out;
}

.hanging-alert {
  animation: hang 0.5s ease-in-out;
}

@keyframes hang {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
sl-copy-button {
  /* Customize button appearance as needed */
  background-color: #007bff; /* Blue background */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
